@font-face {
font-family: "Futura New Book";
src: url("font/FTN35.otf");
}

@font-face {
font-family: "Futura New Heavy";
src: url("font/FTN75.otf");
}

body{
	background-color:#002b37;
	font-family: "Futura New Book";
	color:white;
}

#najava{
	color:#e91e63;
	text-transform: uppercase;
}

@media (max-width: 576px) {
#najava{
	font-size: 0.6em;
}
}

.najava-pole{
	width:17rem;
}


#najava-skrij{
	display:none;
}

.soc{
	height:1.5rem;
	transition:1s;
}

.soc:hover{
    opacity:0.7;
    transform: scale(1.4);
}

#preb{
	width:17rem;
}

#preb::-webkit-input-placeholder {
	text-align:right;
}

.svetlo-sina{
	background-color:#043643;
}



/*meni*/

.logo{
	height:3rem;
}

.nav-link{
	font-size:1.35em;
}

.navbar-nav .active{
	font-family: "Futura New Heavy";
}

/*meni kraj*/

/*span boldirani*/
.b{
	font-family: "Futura New Heavy";
}

/*slajder*/

.strelka{
	font-size:5em;
}

.slider-naslov{
	font-size: 6em;
	margin-top:-10rem;
	text-align: right;
	margin-bottom: -5%;
}

.slider-godina{
font-size:4em;
font-family: "Futura New Heavy";
text-align: right;
margin-bottom: -2%;
}

.slider-datum{
	font-size:2em;
	text-align: right;
}

.carousel-item .img-fluid {
  width:100%;
  height:100%;
}

@media (max-width: 992px) {

.slider-naslov{
	margin:auto;
	font-size:2em;
}

.slider-godina{
	margin-top:0rem;
font-size:1.3em;
}

.slider-datum{
	margin:auto;
	font-size: 0.8em;
}
}

/*slajder kraj*/

/*najnovi filmovi*/
.najnovi-filmovi{
	text-transform: uppercase;
}

.pink-text{
	text-align:right;
	font-size:2em;
}

.card-title{
	color:black;
	text-align:right;
	font-size: 1.2em;
}

.card-text{
	text-align:right;
}



@media (max-width: 992px) {
.karticka-naslov{
	font-size:1em !important;
}

.card-title{
	font-size:0.8em;
}


.card-text{
	display:none;
}
.btn-unique{
left:20%;
}

.podnaslov{
font-size:1em;
}

}


@media (max-width: 576px) {
.karticka-naslov{
	font-size:0.8em !important;
}
.card-title{
	font-size:0.6em;
}

.btn-unique{
left:auto;
}

}
/*najnovi filmovi kraj*/



/* najlajkuvani filmovi pocetok */
.najlajkuvani-filmovi{
	text-transform: uppercase;
	text-align: right;
}

.sredina {
  text-align: center;
  font-size:1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  width:101%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.najlajkuvani-slika{
	width:100%;
	border-radius: 15px;

}

.pozadina{
	background-color: black;
}

.lajkoj{
  text-align: right;
  font-size:1.5em;
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.srce{
	font-size:0.85em;
	color:#e91e63;
}

@media (max-width: 992px) {
.sredina{
	font-size:0.8em;
}

.lajkoj{
	font-size:0.8em;
}
}



@media (max-width: 576px) {
.sredina{
	font-size:0.8em;
}

.lajkoj{
	font-size:0.8em;
}
}
/*najlajkuvani filmovi kraj */


/*footer*/
.logo-footer{
	height:1.1rem;
}
/*footer kraj*/